.credit__form__container {
  width: 80%;
  margin: auto;
}

.credit__container {
  display: flex;
}

.input__label {
  color: aliceblue;
}

.credit__form {
  margin-top: 1rem;
}

.credit__container {
  margin-top: 10px;
}

.credit__input {
  text-align: center;
}

.credit__button {
  border-radius: 50%;
  background-color: rgba(31, 66, 7, 0.404);
  color: rgba(250, 250, 250, 0.534);
  font-weight: 600;
}
